---
layout: page
title: Timeline
permalink: /timeline/
---

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<ul class="archive">
  {% for post in site.posts %}
    {% unless post.next %}
      <h2>{{ post.date | date: '%Y' }}년</h2>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2>{{ post.date | date: '%Y' }}년</h2>
      {% endif %}
    {% endunless %}

    <div class="archive-item">
      <p class="archive-date">{{ post.date | date: "%m월 %d일" }} - {{ post.tags | join: ', ' }}</p>
      {% if post.link %}
      <a href="{{ post.link }}" class="archive-title">
        {% else %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="archive-title">
        {% endif %}
        {{ post.title }}
        </a>
    </div>


    <!-- <li>
      {% if post.link %}
      <a href="{{ post.link }}">
      {% else %}
      <a href="{{ site.baseurl }}{{ post.url }}">
      {% endif %}
        {{ post.title }}
      </a>
      <time>{{ post.date | date: "%Y-%m-%d" }}</time>
    </li> -->

  {% endfor %}
</ul>
